* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  
  .timer {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  #time {
    font-weight: bold;
  }
  
  .button-list {
    display: flex;
    gap: 10px;
  }

  .input-list {
    display: flex;
    gap: 10px;
  }

  input {
    width: 100px;
    padding: 1em;
    border: 1px black solid;
  }

  button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
  }
  

  button:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  
  button:disabled:hover {
    background-color: #3498db;
  }

  button:hover {
    background-color: #2980b9;
  }
  